* { font: 12px verdana, geneva, sans-serif; }

h1 {
	margin:0;
	padding:0.7em 1.5em;
	background: #EEEEEE; 
	font-size:1.2em;
	font-weight: bold;
}

label {
	vertical-align:middle;
	margin:0 0.7em 0 0;
    padding:0;
}

#leftPane, #centerPane, #rightPane {
	margin:0.5em;
	padding:0.5em;
	float:left;
	border:solid 1px #EEEEEE;
}

#rightPane {
	padding:0;
}

#rightPane select {
	border:0;
	padding:0.5em;
	margin:0;
	width:100%;
}

#leftPane button, #rightPane button {
	display:block;
	width:100%;
	padding:1em 1.5em;
	font-weight: bold;
}

#dialogEdit input {
	width:300px;
}
