* { font: 12px verdana, geneva, sans-serif; }

h1 {
	margin:0;
	padding:0.7em 1.5em;
	background: #EEEEEE; 
	font-size:1.2em;
	font-weight: bold;
}

input, textarea {
	width:100%;
}

textarea {
	height:100px;
}

#videoMainWindow {
	margin-bottom: 1em;
	width:640px;
	height:480px;
	display: block;
}

.formTbl {
	width: 100%;
}

.formTbl td:first-child {
	vertical-align: top;
	width:4em;
	text-align: right;
}

.formTbl label {
	margin-top: 0.4em;
	display: inline-block;
}

#leftPane, #centerPane, #rightPane {
	float:left;
}

#leftPane > div, #centerPane, #rightPane {
	margin:0.5em;
	padding:0.5em;
	border:solid 1px #EEEEEE;
}

#selectedTranscript {
	margin:1em 0em;
	width:640px;
}

#rightPane {
	padding:0;
}

#rightPane select {
	border:0;
	padding:0.5em;
	margin:0;
	width:100%;
}

#leftPane button, #rightPane button {
	display:block;
	width:100%;
	padding:1em 1.5em;
	font-weight: bold;
}