.menu { /* place this class on the top level ul of the menu */
	position: relative; /* this means any elements within .menu will be positioned relative to .menu */
	display: inline-table;
	cursor:pointer;
}

/* make only list items immediately under cat_lvl1 float left */
.menu > li {
	padding: 0.7em 1.5em;
	float: left;
}

/* format all list under second level ul */
.menu ul li {
	padding: 0.5em;
	position: relative;
	white-space: nowrap; /* prevents text from wrapping in second level li at the end of .menu */
	border-top:solid 1px #CCCCCC;
}

/* format first li to get rid of top border */
.menu ul li:first-child {
	border:none;
}

/* format all unordered lists */
.menu, .menu ul {
	padding: 0px;
	margin: 0px;
	background: #EEEEEE; 
	list-style: none;
}

/* initially hide all ul content under menu */
.menu ul { display: none; }

/* position second level ul underneath main bar */
.menu ul {
	position: absolute; top: 100%; /* since we specified position:relative on top level ul (.menu) position:absolute now works relative to .menu instead of the document */
}

.menu ul ul {
	position: absolute; top:0%; left: 100%;
}

/* bring second level ul back when you hover over top level list items */
.menu li:hover > ul {
	display: block;
}

/* the background color should change when you hover over any list item */
.menu li:hover {
	background: #CCCCCC; 
}

/* remove the affects of the float after .menu has ended */
.menu:after {
	content: ""; clear: both; display: block;
}